---
layout: base
---

<div id="scroll-wrap" class="container">
      
      <div class="main">
        <div id="bookshelf" class="bookshelf">
          
        <!-- Capítulo 1 -->
          <figure>
            <div class="book" data-book="book-1"></div>
            <div class="buttons"><a href="#">Capítulo 1</a><a href="#"></a></div>
            <figcaption><h2>Introdução ao Violoncelo <span>Capítulo 1</span></h2></figcaption>
            <div class="details">
            </div>
          </figure>

          <!-- Capítulo 2 -->
          <figure>
            <div class="book" data-book="book-1"></div>
            <div class="buttons"><a href="#">Capítulo 2</a><a href="#"></a></div>
            <figcaption><h2>Cordas Soltas <span>Capítulo 2</span></h2></figcaption>
            <div class="details">
            </div>
          </figure>


        </div>
      </div><!-- /main -->
      
    </div><!-- /container -->

  </div><!-- /bb-custom-wrapper -->




